beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==2.0.7
finplot==1.9.5
frozendict==2.4.4
html5lib==1.1
idna==3.3
lxml==5.2.2
MarketProfile==0.2.0
multitasking==0.0.11
numpy==1.26.4
pandas==2.2.1
peewee==3.17.6
platformdirs==4.2.2
PyOpenGL==3.1.7
PyQt6==6.7.1
PyQt6-Qt6==6.7.2
PyQt6_sip==13.8.0
pyqtgraph==0.13.3
python-dateutil==2.8.2
pytz==2022.7
requests==2.32.0
scipy==1.13.1
six==1.16.0
soupsieve==2.5
tzdata==2024.1
urllib3==1.26.7
webencodings==0.5.1
websocket-client==1.8.0
yfinance==0.2.41
